/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #212121;
}

h1,
h2 {
  color: #f60;
  font-weight: 400;
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  margin-top: 3rem;
  margin-bottom: 0.25rem;
}

h3 {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  background-color: #f60;
  padding: 10px 10px;
  margin-top: 3rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.25em;
}

img {
  display: block;
  width: 100%;
}

.bhs-banner {
  width: 100%;
  max-width: 695px;
  margin-top: 20px;
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

a {
  color: #f60;
  text-decoration: none;
}

a:hover {
  color: #ffa366;
}

.main-content a:after,
#resources a:after {
  content: " ▸";
}

.arrow-after:after {
  content: " ▸";
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
  width: 100%;
  text-align: center;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.secondary-content {
  margin-top: 4rem;
}

.main-footer {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 4em;
}

.copyright {
  font-weight: bold;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.bsd-logo {
  width: 177px;
  margin: auto;
}

/* ---- Search Bar ---- */

.search-form {
  display: none;
}

/* ---- Navigation ---- */

.main-nav {
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  background-color: #0d0d0d;
}

.main-nav a {
  color: #fff;
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #333;
}

.no-javascript .main-nav a:hover {
  color: #f60;
}

.main-nav .selected {
  color: #f60;
}

.main-nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* ---- Nav links ---- */

.nav-link ul {
  background-color: #f60;
  display: none;
}

.no-javascript .nav-link:hover ul {
  display: block;
}

.nav-link ul a {
  border-bottom: 1px solid #ffb380;
}

.nav-link ul a:hover {
  color: #0d0d0d;
}

/* ---- Secondary Content ---- */

.secondary-content ul {
  margin: 0;
  padding: 1em 1em 0.5em 1.5em;
  list-style: none;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

.secondary-content h3 {
  border-bottom: 2px solid #cc5200;
  padding: 10px 0 10px 1.5em;
}

.secondary-content a {
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
}

#resources li {
  margin-bottom: 0.75em;
}

#resources a {
  color: inherit;
}

#resources a:hover {
  color: #f60;
}

#school-highlights li {
  font-weight: 600;
  color: #333;
}

#school-highlights span {
  display: inline-block;
  margin-bottom: 1em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    padding-left: 1em;
    padding-right: 1em;
  }

  .nav-link ul {
    position: absolute;
  }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  
  

}