/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #212121;
}

a {
  text-decoration: none;
  color: #212121;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

nav {
  background-color: #000;
  text-align: center;
}

nav ul {
  margin-top: 0;
  padding-left: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: #fff;
  display: block;
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* ---- Layout Containers ---- */

.main-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
}

.bhs-banner {
  width: 100%;
  max-width: 695px;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-footer {
  text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  
  

}