/* ================================= 
  Icomoon Font (for search icon)
==================================== */

@font-face {
  font-family: 'icomoon';
  src:    url('fonts/icomoon.eot?sywmdc');
  src:    url('fonts/icomoon.eot?sywmdc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sywmdc') format('truetype'),
    url('fonts/icomoon.woff?sywmdc') format('woff'),
    url('fonts/icomoon.svg?sywmdc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}


/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", Tahoma, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #212121;
  background-color: #d9d9d9;
}

h1,
h2,
h3 {
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2 {
  color: #f60;
  font-weight: 400;
}

h3 {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  background-color: #f60;
  padding: 10px 10px;
}

p {
  margin-top: 0;
  margin-bottom: 1.25em;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

a {
  color: #f60;
  text-decoration: none;
}

a:hover {
  color: #ffa366;
}

/*.group a:after,
#resources a:after {
  content: " ▸";
}*/

/*.arrow-after:after {
  content: " ▸";
}*/


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.main-header {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  position: relative;
}

.bhs-banner {
  display: block;
  max-width: 695px;
}

#search-form {
  box-shadow: -6px 0 5px -5px #0d0d0d;
}

.box,
.group,
.secondary-content div {
  margin: 2rem 0;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.group .text {
  padding: 1em 1em 0;
}
.text span {
  color: #333;
}

.secondary-content {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
}

.main-footer {
  color: #4d4d4d;
  font-size: 0.9em;
  background-color: #fff;
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 1em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.main-footer address {
  margin-bottom: 1.5rem;
  clear: both;
}

.social-icon {
  display: block;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.copyright {
  font-weight: bold;
  display: block;
}

.bsd-logo {
  width: 177px;
  margin-left: auto;
  margin-right: auto;
}

.social-icon,
.copyright,
.bsd-logo {
  margin-bottom: 1rem;
}

/* ---- Search Bar ---- */

#search-form {
  width: 140px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sb-wrapper {
  display: none;
  width: 83%;
  /*height: 40px;*/
  position: absolute;
  left: 0;
  top: 35%;
}

#search-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border: none;
  padding: 9px;
  border-radius: 4px;
  color: #aaa;
}

#search-bar:hover {
  background-color: #262626;
}

#search-bar:focus {
    outline: none;
    background-color: #262626;
}


#search-button {
  display: block;
  border: none;
  background-color: #333;
  border-radius: 4px;
  padding: 10px;
}

#search-button:hover {
  background-color: #f60;
}

.icon-search {
  display: block;
  padding: 0;
  width: 100%;
}

.icon-search:before {
  color: #fff;
  font-size: 16px;
}

/*.search-form {
  display: none;
}*/

/* ---- Navigation ---- */

.main-nav {
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #0d0d0d;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav li {
  border-bottom: 1px solid #333;
}

.main-nav a {
  color: #fff;
  font-size: 0.9em;
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.main-nav a:hover {
  color: #f60;
}

.nav-link > a {
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.selected {
  color: #f60;
}

/* ---- Nested Navs (ul's) ---- */

.nav-link ul {
  background-color: #f60;
  display: none;
}

.no-javascript .nav-link:hover ul {
  display: block;
}

.nav-link ul li {
  border-bottom: 1px solid #ffb380;
}

.nav-link ul li:last-child {
  border-bottom: none;
}

.nav-link ul a:hover {
  color: #0d0d0d;
  font-weight: 600;
}


/* ---- Main Content ---- */

.box {
  padding: 1em 1em;
}

.box p {
  line-height: 1.65em;
}

.box h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.box img {
  width: 100%;
  float: right;
  margin-bottom: 1em;
}

.box video {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 1rem;
  display: block;
}

.lyrics {
  text-align: center;
  margin-bottom: 1em;
}

.lyrics h2 {
  margin-bottom: 1em;
  color: inherit;
}

.lyrics p {
  margin-bottom: 0.75em;
}

.button {
  display: block;
  padding: 0.5em;
  text-align: center;
  background-color: #f60;
  color: #fff;
  margin: auto;
  margin-bottom: 1em;
  max-width: 16em;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffa366;
  color: #fff;
}

.no-list-style {
  list-style: none;
  padding-left: 0;
}

/*.no-list-style li {
  font-size: 1.25em;
}
*/

/* ---- Secondary Content ---- */

.secondary-content {
  font-size: 0.8em;
}

.secondary-content ul {
  margin: 0;
  padding: 1em 1em 0.5em 1.5em;
  list-style: none;
}

.secondary-content h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #cc5200;
  padding: 10px 0 10px 1.5em;
}

.secondary-content a {
  font-family: "Montserrat", Tahoma, Helvetica, Arial, sans-serif;
}

#resources li,
#upcoming-events li {
  margin-bottom: 0.75em;
}

#resources a {
  color: #0d0d0d;
}

#resources a:hover {
  color: #f60;
}

#school-highlights li {
  font-weight: 600;
  color: #333;
}

#school-highlights span {
  display: inline-block;
  margin-bottom: 1em;
}

#upcoming-events span {
  font-weight: 600;
  color: #262626;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  /* ---- Base Styles ---- */

  h3 {
    margin-top: 0;
  }

  /* ---- Layout ---- */

  .main-header {
    padding-left: 1em;
    padding-right: 1em;
  }

  #search-form {
    width: 20%;
    flex-grow: 1;
  }

  .main-content {
    padding-left: 1em;
    padding-right: 1em;
  }

  .box {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .box img {
    float: right;
    width: 45%;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

  .box video {
    float: left;
    width: 60%;
    margin-top: 0.5em;
  }

  .lyrics {
    float: right;
    width: 40%;
  }

  .box .article {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper::after,
  .group::after,
  .box::after,
  .secondary-content::after { /* Clearfix */
  content: " ";
  display: table;
  clear: both;
  }

  .group .text {
    width: 45%;
  }

  .group p {
    margin-bottom: 0;
  }

  .group img {
    width: 55%;
  }

  .group:nth-child(even) img,
  .group:nth-child(odd) .text {
    float: left;
  }

  .group:nth-child(odd) img,
  .group:nth-child(even) .text {
    float: right;
  }

  .group:last-child {
    margin-bottom: 0;
  }

  .secondary-content div {
    float: left;
    width: 31.33333%;
    margin-right: 3%;
  }

  .secondary-content div:last-child {
    margin-right: 0;
  }

  .main-footer {
    padding: 2em;
    clear: both;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }

  .main-footer div {
    margin-left: 5%;
    margin-right: 5%;
  }

  .copyright,
  .main-footer address {
    margin-bottom: 0;
  }

  /* ---- Nav ---- */

  .main-nav {
    margin: 0 1em;
  }

  .main-nav > ul {
    margin: auto;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav > ul > li {
    border-bottom: none;
  }

  .main-nav a {
    padding: 0.9em 0.8em;
    font-size: 0.75em;
  }

  .nav-link ul a {
    font-size: 0.7em;
  }

  .nav-link ul {
    position: absolute;
    text-align: left;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #cc5200;
  }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {

  .main-nav a {
    font-size: 0.9em;
  }

  .main-nav ul a {
    font-size: 0.8em;
  }

  /* ---- Layout Styles ---- */

  .main-content {
    float: left;
    width: 70%;
  }

  .secondary-content {
    float: right;
    width: 30%;
    margin-top: 0;
  }

  .secondary-content div {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  /* ---- Search ---- */

  #search-form {
    justify-content: center;
  }

  .sb-wrapper {
    display: block;
    position: static;
    width: 70%;
    max-width: 300px;
    background: none;
    margin-right: 10px;
  }

  #search-bar {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

}








